// Extra small screen / phone
$grid-breakpoint-xs: 0 !default;
// Small screen / phone
$grid-breakpoint-sm: 576px !default;
// Medium screen / tablet
$grid-breakpoint-md: 768px !default;
// Large screen / desktop
$grid-breakpoint-lg: 992px !default;
// Extra large screen / wide desktop
$grid-breakpoint-xl: 1200px !default;

$container-max-width-sm: 540px !default;
$container-max-width-md: 720px !default;
$container-max-width-lg: 960px !default;
$container-max-width-xl: 1140px !default;

$padding-col-x: 0.5rem !default;
$padding-container-x: 1rem !default;
